<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Community Item Creation</title>
</head>
<body>

	<h1>Bumbershoot</h1>

	<p>Thank you <%= user.username %>, for adding your equipment to the community portal!
	</p>

	<p>
		Our community items need to be approved by our moderators before they are accessible to our other users, then they will be able to contact you via the email address provided to Bumbershoot about renting directly from you.
	</p>

	<p>
		Coming soon, Bumbershoot will have a native messaging application to make this communication between renter and rentee even easier!
	</p>
	

	<h3>
		Be Adventure Ready with Bumbershoot!
	</h3>
</body>
</html>