<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Corporate Order</title>
</head>
<body>

	<h1> Hi <%= @user.username%>: </h1>
		<h3>
			Thanks for the interest in Bumbershoot
		</h3>

		<p>
			Unfortunately, we are currently hibernating for the winter, but we will be back in the summer of 2016 to equip your summer adventures!
		</p>

		<h3>
			Be Adventure Ready with Bumbershoot!
		</h3>
	
</body>
</html>