<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1> Hi <%= @user.username%>: </h1>
		<h3>
			Welcome to Bumbershoot!
		</h3>

		<p>
			Take a moment to check out the items available to rent from us.  We are busy adding more items everyday so you will have eveything you need for your weekend escape!
		</p>

		<p>
			If you don't see something that you need, feel free to check out the community portal and see if any Bumbershoot members have what you need that you can rent directly from them!
		</p>

		<p>
			If you have some equipment you don't use very often, consider adding it to the community so that other users can use your equipment at whatever rate you choose.
		</p>

		<h3>
			Be Adventure Ready with Bumbershoot!
		</h3>
	</body>
</html>