<div class="equipment-background">
	<div class="equipment-spacer"></div>
	<div class="equipment-container">
		<div class="equipment-header">
			<h3>
				<p>Item Name: {{item.name}}</p>
			</h3>
			<h3>
				<p>Description: {{item.description.body}}</p>
			</h3>
		</div>

		<img class="item-image" ng-src="/assets/logos/{{item.category_id}}.png"/>

		<form ng-submit="addDescription()">
			<div>
				<input type="text"
					placeholder="Description"
					ng-model="body"></input>
				<button type="submit">Add Description</button>
			</div>
		</form>

		<form ng-submit="placeOrder()">
			<div>
				<input type="text"
				placeholder="optional comments"
				ng-model="comments"></input>
				<button class='button-primary' type="submit">Order</button>
			</div>
		</form>
	</div>
</div>