<div class="equipment-background">
	<div class="equipment-spacer"></div>
	<div class="equipment-container">
		<div class="equipment-header">
			<h3>Item Name:</h3>
			<p>{{item.name}}</p>
			<h3>Description:</h3>
			<p>{{item.description.body}}</p>
		</div>

		<img class="item-image" ng-src="/assets/logos/{{item.category_id}}/{{item.id}}.png"/>

		<form ng-show="checkAdmin()" ng-submit="addDescription()">
			<div>
				<input type="text"
					placeholder="Description"
					ng-model="body"></input>
				<button type="submit">Add Description</button>
			</div>
		</form>

<!--		<form ng-submit="placeOrder()" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<div>
				<input type="text"
				placeholder="optional comments"
				ng-model="comments"></input>
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="SKQ7VQTNB8L94">
				<button class='button-primary' type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">Add to Cart</button> Commented out while offline 
				<button class="button-primary">Add to Cart</button>
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</div>
		</form>-->

		<form ng-submit="placeOrder()">
			<button class="button-primary">Add to Cart</button>
		</form>

	<div ng-show="offline" class="status_flash">
		<p>Thank you for your interest in Bumbershoot. Unfortunately, we are currently hibernating for the winter, but we will be back in the summer of 2016 to equip your summer adventures!</p>
	</div>
</div>