<div class="community_background">
	<div class="community-spacer"></div>
	<div class="community_container">
		<h1>Nearby Community Items</h1>

		<div class="set_neighborhood">
			<h3> Filter by Neighborhood </h3>
			<div ng-show="orderResponse" class="status_flash">
				<p>Thank you for adding an item to our community! <br>
					Please be patient as all items must be approved <br>
					by moderators before display.</p>
			</div>
			<form ng-submit="selectNeighborhood()">
				<select ng-model="newNeighborhood">
					<option value="" disabled>Neighborhood</option>
					<option value="Manhattan">Manhattan</option>
					<option value="Brooklyn">Brooklyn</option>
					<option value="queens">Queens</option>		
					<option value="bronx">The Bronx</option>	
					<option value="staten_island">Staten Island</option>	
					<option value="jersey">North Jersey</option>				
				</select>
				<button class="button-primary" type="submit">Filter Items</button>
			</form>
		</div>

		<div class="community_items">
			
				<div class="community_item" ng-repeat="item in items | filter: {corporate : false, neighborhood : neighborhood, approved : true}"> 
					<a href="mailto:{{item.owner}}?subject=Bumbershoot%20Item%20Inquiry">{{item.name}} - {{item.neighborhood}}</a>
				</div>
		</div>
		
		<div class="map_overlay" onClick="style.pointerEvents='none'"></div>
		<ui-gmap-google-map center="map.center" zoom="map.zoom">
			<ui-gmap-marker ng-repeat="marker in markerList" idkey="marker.idKey" coords="marker.coords"> 
				<ui-gmap-window isIconVisibleOnClick="true">
					<p>
						{{marker.message}}
					</p>
				</ui-gmap-window>
			</ui-gmap-marker>
		</ui-gmap-google-map>
		
			


		<div class='item_creation'>
			<form ng-show="signedIn()" ng-submit="addCommunityItem()">
				<div>
					<h3> Add your Equipment to the Community</h3>
					<select ng-model="category">
						<option value="" disabled>Category</option>
						<option value="1">Sleep</option>
						<option value="2">Cook</option>
						<option value="3">Recreation</option>
						<option value="5">Miscellaneous</option>
					</select>
					<select ng-model="newNeighborhood">
					<option value="" disabled>Neighborhood</option>
					<option value="manhattan">Manhattan</option>
					<option value="brooklyn">Brooklyn</option>
					<option value="queens">Queens</option>		
					<option value="bronx">The Bronx</option>	
					<option value="staten_island">Staten Island</option>	
					<option value="jersey">North Jersey</option>
					</select>
					<input type="text"
						placeholder="Item name"
						ng-model="name"></input>
					<button class="button-primary" type="submit">Add Item</button>
				</div>
			</form>
		</div>
	</div>
</div>