<div class="profile_background">
	<div class="profile_spacer"></div>
	<div class="profile_container">
		<div class="grid profile_data">
			<div class="col-1-3 profile_image_container">
				<h1> {{user.username}} </h1>
				<img class="profile_image" src="/assets/gravatar.jpg"  gravatar-size="150">
			</div>

			<div class="col-1-3 profile_orders">
				<h1> My orders </h1>
				<h4>Order from the Equipment Portal</h4>
				<div ng-repeat="order in orders">
					<a href="">{{order.comments}}</a>
				</div>
			</div>
			<div class="col-1-3 profile_items">
				<h1> My items </h1>
				<h4>Add Items in the Community Portal</h4>
				<div ng-repeat="item in items">
					<a href="">{{item.name}}</a>
				</div>
			</div>
		</div>
		<div class="grid profile_links">
			<div class="col-1-2 profile_link">
				<h3><a href="/#/equipment">Equipment</a></h3>
			</div>
			<div class="col-1-2 profile_link">
				<h3><a href="/#/community">Community</a></h3>
			</div>
		</div>
	</div>	
</div>