.about-header {
	background-image: url(/assets/caravan.jpg);
	background-repeat: no-repeat;
	background-position: center;
	margin: 0;
	height: 600px;
	min-width: 100%;
}

.about-content-1{
	height: 300px;
	background-color: white
}
.about-content-2{
	height: 300px;
}