.equipment-background{
	background-image: url(/assets/waterfall.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 800px;
}

.equipment-container {
	background-color: rgba(255, 255, 255, 0.7);
	padding-bottom: 50px;
	padding-top: 50px;
	width: 100%;
}

.equipment-spacer {
	height: 150px;
}

.equipment-header h1 {
	color: #343E52;
}

.equipment-header {
	width: 70%;
	margin: 0 auto;
}

.equipment-category {
	font-size: 25px;
	margin-top: 25px;
	margin-bottom: 25px; 
}

// Category Page

.category_item {
	display: inline-block;
	font-size: 20px;
	padding: 20px 0;
	width: 330px;
	height: 80px;
	margin: 15px;
	border: solid grey 3px;
}