* {
	margin: 0;
}
html, body {
	background-color: white;
	font-family: "Nunito", sans-serif;
	margin: 0;
	color: black;
	height: 100%;
}

.container {
	margin: 0 auto -80px;
	min-height: 100%;
}


.main_content {
	text-align: center;
}

h1 {
	color: #a6e2ff;
	font-size: 60px;
}

h2 {
	color: #d2f0ff;
}

h3 {
	font-size: 30px;
}

.page-header {
	padding-top: 100px;
}

.header-container {
	background-image: url(/assets/figureblack.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	margin: 0;
	height: 900px;
	width: 100%;
}

.image-2 {
	background-image: url(/assets/caravan.jpg);
	background-repeat: no-repeat;
	background-position: center;
	margin: 0;
	height: 650px;
	width: 100%;
}

.content-1 {
	height: 200px;
}

.text-1 {
	margin-top: 100px;
}

.content-2 {
	height: 350px;
}

.text-2 {
	margin-top: 100px;
}

a{
	display: inline-block;
	text-decoration: none;
	color: white;
}

ul {
	list-style-type: none;
}

li {
	display: inline-block;
}


.text-2 {
	margin: 0 auto;
	width: 30%;
	float: left;
}

.left-2, .right-2{
	margin-top: 5%;
}

.left-2 {
	margin-left: 5%;
}

.right-2 {
	margin-right: 5%; 
}

img.border_logo {
	width: 100%;
}

.push {
	height: 80px;
}

.footer {
	height: 80px;
	text-align: center;
	background-color: #e4f6ff;
}