body {
	background-color: white;
	font-family: "Nunito", sans-serif;
	margin: 0;
	color: #63005D;
}

h1 {
	color: #a6e2ff;
	font-size: 60px;
}

h2 {
	color: #d2f0ff;
}

h3 {
	font-size: 30px;
}

.page-header {
	padding-top: 100px;
}

.landing-header-container {
	background-image: url(/assets/figureblack.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	margin: 0;
	height: 900px;
	width: 100%;
}

.landing-image-2 {
	background-image: url(/assets/figureblack.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	margin: 0;
	height: 900px;
	width: 100%;
}

.landing-content-1 {
	height: 200px;
}

.landing-text-1 {
	margin-top: 150px;
}

a{
	display: inline-block;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

li {
	display: inline-block;
}

.main_content {
	margin: 0 auto;
	text-align: center;
}
