* {
	margin: 0;
}
html, body {
	background-color: #f2f2f2;
	font-family: "Nunito", sans-serif;
	margin: 0;
	color: grey;
	height: 100%;
}

a{
	display: inline-block;
	text-decoration: none;
	color: grey;
	&:hover {
		color: #343E52;
	}
}

ul {
	list-style-type: none;
}

li {
	display: inline-block;
}

.application-container {
	margin: 0 auto -80px;
	min-height: 100%;
}


.main_content {
	text-align: center;
}

h1 {
	color: #a6e2ff;
	font-size: 60px;
}


h3 {
	font-size: 30px;
	color: grey;
}

.page-header {
	padding-top: 100px;
}

.header-container {
	background-image: url(/assets/figureblack.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0;
	height: 900px;
	width: 100%;
	overflow: hidden;
	h2 {
		color: #d2f0ff;
	}
}

.content-1 {
	height: 200px;
}

.image-2 {
	background-image: url(/assets/hike.jpg);
	background-repeat: no-repeat;
	background-position: center;
	margin: 0;
	height: 650px;
	width: 100%;
}



.text-1 {
	max-width: 740px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.text-1-text{
	margin-top: 20px;
}





.how-it-works{
	height: 100%;
	background-color: white;
	padding-top: 30px;
}

.how-steps-container {
	padding-top: 20px;
	padding-bottom: 40px;
}

.how-steps-image{
	background-color: #f2f2f2;
	border-radius: 100%;
	width: 250px;
	height: 250px;
	margin: auto;
	margin-bottom: 20px;
}
.how-steps{
	img {
		margin-top: 30px;
		height: 150px;
	}
}





img.border_logo {
	width: 100%;
}

.content-2 {
	height: 100%;
}

.text-2{
	margin-top: 4%;
}






.push {
	height: 80px;
}