body {
	background-color: lightblue;
	font-family: "Nunito", sans-serif;
}

a{
		text-decoration: none;
}

ul {
	list-style-type: none;
}

li {
	display: inline-block;
}

.main_content {
	margin: 0 auto;
	text-align: center;
}