.profile_background {
	background-image: url(/assets/road.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 800px;
}

.profile_image {
	width: 150px;
}