.profile_background {
	background-image: url(/assets/road.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 800px;
}

.profile_spacer {
	height: 100px;
}

.profile_container {
	background-color: rgba(255, 255, 255, 0.7);
}

.profile_image {
	width: 150px;
}

.profile_image_container {

}

.profile_link {
	margin: 50px 0;
}