<div class="equipment-background">
	<div class="equipment-spacer"></div>
	<div class="equipment-container">
		<div class="equipment-header">
			<h3>
				{{category.name}}
			</h3>
		</div>

		<div ng-repeat="item in category.items | filter:{corporate: true} ">
			<a href="#/categories/{{category.id}}/items/{{item.id}}">{{item.name}}</a>
		</div>


		<form ng-submit="addCorporateItem()">
			<div>
				<input type="text"
					placeholder="Item name"
					ng-model="name"></input>
				<button class="button-primary" type="submit">Add Item</button>
			</div>
		</form>
	</div>
</div>