<div class="categories-background">
	<div class="categories-spacer"></div>
	<div class="categories-page-container">
		<div class="categories-header">
			<h3>
				<p>{{category.name}}</p>
			</h3>
		</div>

		<div ng-repeat="item in category.items">
			<a href="#/categories/{{category.id}}/items/{{item.id}}">{{item.name}}</a>
		</div>


		<form ng-submit="addItem()">
			<div>
				<input type="text"
					placeholder="Item name"
					ng-model="name"></input>
				<button class="button-primary" type="submit">Add Item</button>
			</div>
		</form>
	</div>
</div>