<!DOCTYPE html>
<html ng-app="bumbershoot">
<head>
  <title>Bumbershoot</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='http://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body ng-controller="MainCtrl">
	<div class="container">
		<div ng-include="'nav/_nav.html'"></div>
		<div class="main_content">
			<ui-view></ui-view>
		</div>
		<div class="push"></div>
	</div>
		<div ng-include="'nav/_footer.html'"></div>
</body>
</html>
